items:
    SOURCE
    NAME
    COPYRIGHT
    SYNOPSIS
    USAGE
    FUNCTION
    DESCRIPTION
    PURPOSE
    AUTHOR
    CREATION DATE
    MODIFICATION HISTORY
    HISTORY
    INPUTS
    ARGUMENTS
    OPTIONS
    PARAMETERS
    SWITCHES
    OUTPUT
    SIDE EFFECTS
    RESULT
    RETURN VALUE
    EXAMPLE
    NOTES
    DIAGNOSTICS
    WARNINGS
    ERRORS
    BUGS
    TODO
    IDEAS
    PORTABILITY
    SEE ALSO
    METHODS
    NEW METHODS
    ATTRIBUTES
    NEW ATTRIBUTES
    TAGS
    COMMANDS
    DERIVED FROM
    DERIVED BY
    USES
    CHILDREN
    USED BY
    PARENTS
ignore items:
    COPYRIGHT
options:
    --src ./src
    --doc ./doc/www
    --html
    --multidoc
    --index
    --tabsize 2
    --tell
    --toc
    --documenttitle "libetsf_io.so - ETSF I/O - API"
    --syntaxcolors
ignore files:
    ChangeLog
    Makefile*
    AUTHORS
    README
    COPYING
    INSTALL
    NEWS
    config
    doc
    tests
    tmp*
    *.log
    *.o
    *.a
    *.MOD
    *.mod
    *~
    *.htm*
    *.rc
header markers:
    !!****
remark markers:
    !!
end markers:
    !!***
source line comments:
    !
keywords:
    if
    do
    intent
    integer
    character
    double
    precision
    logical
    subroutine
    end
    type
    optional
    call
    pointer
    null
    contains
    include
    module
    use
    implicit
    none
    parameter
    return
    present
    then
    true
    false
    else
    in
    out
    inout
